
#dash.vertical-overview .dash-item-container .app-well-app, #dash.vertical-overview .show-apps {
    padding: 0 !important;
}

#dash.vertical-overview .dash-separator {
    height: 1px;
    margin-top: 14px;
    background-color: transparentize(#eeeeec,0.7);
}

#dash.vertical-overview .overview-icon {
    padding: 10px;
}

#dash.vertical-overview .app-well-app-running-dot {
    margin: 6px 0px;
}

#dash.vertical-overview .dash-item-container .app-well-app, #dash.vertical-overview .show-apps {
    padding-left: 14px;
}

#dash.vertical-overview .dash-item-container:last-child {
    margin-bottom: 14px
}
