/* 40 style dash */
#dash.vertical-overview .dash-item-container:last-child {
    margin-bottom: 14px;
}


/* 3.38 style dash */
#dash.vertical-overview-old-dash { 
    color: #eeeeec; 
    background-color: rgba(32, 32, 32, 0.76); 
    border: 1px solid rgba(255, 255, 255, 0.16); 
    padding: 0px 0; 
    border-radius: 0 15px 15px 0; 
    border-left-width: 0;
}

#dash.vertical-overview-old-dash .dash-item-container:last-child {
    margin-bottom: 0px;
}


/* General dash */
#dash.vertical-overview .dash-item-container .app-well-app, #dash.vertical-overview .show-apps,
#dash.vertical-overview-old-dash .dash-item-container .app-well-app, #dash.vertical-overview-old-dash .show-apps {
    padding: 0 !important;
}

#dash.vertical-overview .dash-separator,
#dash.vertical-overview-old-dash .dash-separator {
    height: 1px;
    margin-top: 14px;
    background-color: transparentize(#eeeeec,0.7);
}

#dash.vertical-overview .overview-icon,
#dash.vertical-overview-old-dash .overview-icon {
    padding: 10px;
}

#dash.vertical-overview .app-well-app-running-dot,
#dash.vertical-overview-old-dash .app-well-app-running-dot {
    margin: 6px 0px;
}

#dash.vertical-overview .dash-item-container .app-well-app, #dash.vertical-overview .show-apps,
#dash.vertical-overview-old-dash .dash-item-container .app-well-app, #dash.vertical-overview-old-dash .show-apps {
    padding-left: 14px;
}


/* 3.38 style workspace thumbnails */
.vertical-overview-old-thumbnails .workspace-thumbnails { 
    color: #eeeeec; 
    background-color: rgba(32, 32, 32, 0.76); 
    border: 1px solid rgba(255, 255, 255, 0.16); 
    padding: 6px; 
    border-radius: 10px 0 0 10px; 
    border-right-width: 0; 
}


/* Top bar */
#panel.vertical-overview-panel { 
    background-color: #000;
}

.vertical-overview-panel .panel-corner {
    -panel-corner-radius: 9;
    -panel-corner-background-color: #000;
    -panel-corner-border-width: 2px;
    -panel-corner-border-color: transparent;
    -panel-corner-opacity: 1;
}

